<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Gmail Suite" annotations="JDK" parallel="tests">
    <parameter name="appURL" value="https://almsmart.demos.hclets.com/Presto/" />
    <parameter name="browserType" value="">chrome</parameter>
    <parameter name="driverPath" value="C:\\Users\\amit5india\\Downloads\\chromedriver_win32\\chromedriver.exe"></parameter>
    <test name="PrestoUI">
        <classes>
            <class name="com.presto.PrestoHomePage"/>
        </classes>
    </test>

   </suite>